                  <ul>
                  {% for item in event.schedule_items %}
                      {%- assign it = item | type -%}
                      <li>
                        {%- if it == "Presentation" %}
                          <a href="/presentations/{{item.Presentation.slug}}">{{item.Presentation.title}}</a>
                            ({{item.Presentation.language}})
                            {% for speaker in item.Presentation.people %}
                               <a href="/people/{{speaker.slug}}">{{speaker.name}}</a>
                            {% endfor %}
                        {% endif %}
                        {%- if it == "Break" %}
                           {{item.Break.title}}
                        {% endif %}
                      </li>
                  {% endfor %}
                  </ul>

