                  <ul>
                  {% for presentation in event.presentations %}
                      <li>
                        <a href="/presentations/{{presentation.slug}}">{{presentation.title}}</a>
                          ({{presentation.language}})
                          {% for speaker in presentation.people %}
                             <a href="/people/{{speaker.slug}}">{{speaker.name}}</a>
                          {% endfor %}
                      </li>
                  {% endfor %}
                  </ul>

