    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-home">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbar-home" class="navbar-menu">
        <div class="navbar-start">
          <a href="/" class="navbar-item">Home</a>
          <a href="/events/" class="navbar-item">Events</a>
          <a href="/projects" class="navbar-item">Projects</a>
          <a href="/mailing-list" class="navbar-item">Newsletter</a>
          <a href="/companies" class="navbar-item">Companies</a>
          <a href="/jobs" class="navbar-item">Jobs</a>
          <a href="/learning" class="navbar-item">Learning</a>
          <a href="/people/" class="navbar-item">People</a>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <a href="/about" class="navbar-item">About</a>
          </div>
        </div>
      </div>
    </nav>
