{% include 'templates/incl/header.html' %}
  <section class="section">
    <div class="container">
      <h1 class="title">
        {{title}}
      </h1>
      <div class="content">
          {% for event in events %}
          <div id="{{event.slug}}">
            <h2>{{event.date}} {{event.title}}</h2>
                {{event.body}}
                {% if event.future %}
                    <a class="button is-primary" href="{{event.register}}">register</a>
                {% else %}
                    <a  href="{{event.register}}">register</a>
                {% endif %}

            <hr>
          </div>
          {% endfor %}
      </div>
    </div>
  </section>
{% include 'templates/incl/footer.html' %}
