{% include 'templates/incl/header.html' %}
  <section class="section">
    <div class="container">
      <h1 class="title">{{title}}</h1>
      <div class="content">

        <h2 class="title">Future Events</h2>

        {% for event in events %}
          {% if event.future %}
              <div id="{{event.slug}}">
                  <h2>
                    {% if event.online %}
                    <i class="fa-solid fa-display" arial-hidden="true" title="Online"></i>
                    {% else %}
                    <i class="fa-solid fa-people-group" arial-hidden="true" title="In-person"></i>
                    {% endif %}

                    <a href="/events/{{event.slug}}">{{event.date}} {{event.title}}</a>
                      (
                         {% if event.online %}
                           virtual
                         {% else %}
                           in-person
                         {% endif %}
                         in {{event.language}}
                      )
                  </h2>
                  {% include 'templates/incl/event_presentations_short_list.html' %}
                  <a class="button is-primary" href="{{event.register}}">register</a>

                  <hr>
              </div>
          {% endif %}
        {% endfor %}


        {{content}}

<img src="/img/rust-logo-512x512-blk.png">
<img src="/img/rust-logo-512x512.png">
<img src="/img/rustacean-ferris-orig-noshadow.png">

      </div>
    </div>
  </section>
{% include 'templates/incl/footer.html' %}
