{% include 'templates/incl/header.html' %}
  <section class="section">
    <div class="container">
      <h1 class="title">{{title}}</h1>
      <div class="content">

        <h2 class="title">Future Events</h2>
           
        {% for event in events %}
          {% if event.future %}
              <div id="{{event.slug}}">
                  <h2><a href="/events/{{event.slug}}">{{event.date}} {{event.title}}</a></h2>
                  <ul>
                  {% for presentation in event.presentations %}
                      <li>
                        <a href="/presentations/{{presentation.slug}}">{{presentation.title}}</a>
                          ({{presentation.language}})
                          {% for speaker in presentation.people %}
                             <a href="/people/{{speaker.slug}}">{{speaker.name}}</a>
                          {% endfor %}
                      </li>
                  {% endfor %}
                  </ul>
                  <a class="button is-primary" href="{{event.register}}">register</a>

                  <!--
                  
                  {{event.body}}

                  {% if event.presentations.size > 0 %}
                      <h2>Presentations</h2>
                      {% for presentation in event.presentations %}
                          <div>
                              <h3><a href="/presentations/{{presentation.slug}}">{{presentation.title}}</a> ({{presentation.language}})</h3>
                              {{ presentation.body}}
                              <h3>Speakers</h3>
                              {% for speaker in presentation.people %}
                              <div>
                                  <a href="/people/{{speaker.slug}}">{{speaker.name}}</a>
                              </div>
                              {% endfor %}
                          </div>
                      {% endfor %}

                      <hr>
                  {% endif %}
-->
                  <hr>
              </div>
          {% endif %}
        {% endfor %}


        {{content}}

      </div>
    </div>
  </section>
{% include 'templates/incl/footer.html' %}
