{% include 'templates/incl/header.html' %}
  <section class="section">
    <div class="container">
      <h1 class="title">{{title}}</h1>
      <div class="content">

        <h2 class="title">Future Events</h2>
           
        {% for event in events %}
          {% if event.future %}
              <div id="{{event.slug}}">
                  <h2>{{event.date}} {{event.title}}</h2>
                  {{event.language}}<br>

                  {{event.body}}
                  <a class="button is-primary" href="{{event.register}}">register</a>
                  <hr>
              </div>
          {% endif %}
        {% endfor %}


        {{content}}

      </div>
    </div>
  </section>
{% include 'templates/incl/footer.html' %}
