{% include 'templates/incl/header.html' %}
  <section class="section">
    <div class="container">
      <h1 class="title">{{title}}<h1>
      <div></div>List of Rust jobs In Israel</div>
      <div class="content">
        {% for job in jobs %}
          <div>
            <h2>{{job.title}}</h2>
            {{job.company}}
            <p>{{job.body}}</p>

            <h2>Contact</h2>
            <ul>
            {% for person in job.people %}
              <li><a href="/people/{{person.slug}}">{{person.name}}</a></li>
            {% endfor %}
            </ul>
          </div>
        {% endfor %}

        <h2>Companies</h2>

        See the <a href="/companies">companies that use Rust in Israel</a>.

        <h2>Rust job boards around the world</h2>

        <a href="https://rust.code-maven.com/rust-jobs">Rust job boards</a>


      </div>
    </div>
  </section>
{% include 'templates/incl/footer.html' %}
