{% include 'templates/incl/header.html' %}
  <section class="section">
    <div class="container">
      <h1 class="title">
        {{title}}
      </h1>
      <div class="content">
        {% for person in people %}
          {% if person.img != "" %}
            <a  href="/people/{{person.slug}}"><img src="/img/{{person.img}}" width="200px" alt="{{person.name}}"></a>
          {% endif %}
        {% endfor %}


        <ul>
          {% for person in people %}
            <li><a href="/people/{{person.slug}}">{{person.name}}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>
{% include 'templates/incl/footer.html' %}
