{% include 'templates/incl/header.html' %}
  <section class="section">
    <div class="container">
      <div class="content">
          <h1 class="title">
            {{title}}
          </h1>
             
          {% for presentation in presentations %}
            <div id="{{presentation.slug}}">
                <h2><a href="{{presentation.slug}}">{{presentation.title}}</a></h2>
                {{presentation.language}}<br>
                <ul>
                    {% for speaker in presentation.people %}
                        <li><a href="/people/{{speaker.slug}}">{{speaker.name}}</a>
                            {% if speaker.github %}
                                <a href="https://github.com/{{speaker.github}}">GitHub</a>
                            {% endif %}
                            {% if speaker.linkedin %}
                                <a href="{{speaker.linkedin}}">LinkedIn</a>
                            {% endif %}
                            {% if speaker.home %}
                                <a href="{{speaker.home}}">home</a>
                            {% endif %}


                            {% if speaker.body %}
                            <div>
                                {{speaker.body}}
                            </div>
                                
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>

                {{presentation.body}}
                <hr>
            </div>
          {% endfor %}

        </div>
    </div>
  </section>
{% include 'templates/incl/footer.html' %}
