{% include 'templates/incl/header.html' %}
  <section class="section">
    <div class="container">
      <div class="content">
          <h1 class="title">
            {{title}} ({{presentation.language}})
          </h1>
          {% if presentation.length == 0 %}
            Length: unknown
          {% else %}
            Length: {{presentation.length}}
          {% endif %}

          <div>
            Presented at <a href="/events/{{event.slug}}">{{event.title}}</a> on {{event.date}}
          </div>

            <div id="{{presentation.slug}}">
                {% if presentation.video_en %}
                    <a href="{{presentation.video_en}}">video</a>
                {% endif %}
                {% if presentation.video_he %}
                    <a href="{{presentation.video_he}}">video</a>
                {% endif %}

                <ul>
                    {% for speaker in presentation.people %}
                        <li><a href="/people/{{speaker.slug}}">{{speaker.name}}</a>
                            {% if speaker.github %}
                                <a href="https://github.com/{{speaker.github}}">GitHub</a>
                            {% endif %}
                            {% if speaker.linkedin %}
                                <a href="{{speaker.linkedin}}">LinkedIn</a>
                            {% endif %}
                            {% if speaker.home %}
                                <a href="{{speaker.home}}">home</a>
                            {% endif %}


                            {% if speaker.body %}
                            <div>
                                {{speaker.body}}
                            </div>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                {% if presentation.video_he %}
                    <div><a href="{{ presentation.video_he }}">video in Hebrew</a></div>
                {% endif %}
                {% if presentation.video_en %}
                    <div><a href="{{ presentation.video_en }}">video in English</a></div>
                {% endif %}
                {{presentation.body}}
                <hr>
            </div>

        </div>
    </div>
  </section>
{% include 'templates/incl/footer.html' %}
