{% include 'templates/incl/header.html' %}
  <section class="section">
    <div class="container">
      <div class="content">
          <h1 class="title">
            {{title}}
          </h1>

          {% if presentations_in_hebrew.size > 0 %}
            <h2>Presentations with videos in Hebrew</h2>
            <ul>
              {% for presentation in presentations_in_hebrew %}
                <li>
                    <a href="/presentations/{{presentation.slug}}">{{presentation.title}}</a> | <a href="{{presentation.video_he}}">video</a> |
                    {% for speaker in presentation.people %}
                        <a href="/people/{{speaker.slug}}">{{speaker.name}}</a>
                    {% endfor %}
                </li>
              {% endfor %}
            </ul>
          {% endif %}
          
          {% if presentations_in_english.size > 0 %}
            <h2>Presentations with videos in English</h2>
            <ul>
              {% for presentation in presentations_in_english %}
                <li><a href="/presentations/{{presentation.slug}}">{{presentation.title}}</a> | <a href="{{presentation.video_en}}">video</a> |
                    {% for speaker in presentation.people %}
                        <a href="/people/{{speaker.slug}}">{{speaker.name}}</a>
                    {% endfor %}
                </li>
              {% endfor %}
            </ul>  
          {% endif %}

        </div>
    </div>
  </section>
{% include 'templates/incl/footer.html' %}
